#textdomain wesnoth-The_Earths_Gut

#define INITIALIZE_CAMPAIGN_VARIABLES
#enddef
#define CLEAR_CAMPAIGN_VARIABLES
#enddef
#define INITIALIZE_SCENARIO_VARIABLES
#enddef
#define CLEAR_SCENARIO_VARIABLES
#enddef

#define NORTHEASTERN_SHORE
    x = 23, 24, 25, 25, 26, 27, 28, 29, 29, 30, 30, 31, 31, 31, 32, 32, 32, 32, 33, 33, 33, 33, 33, 34, 34, 34, 34, 35, 35, 35, 35, 36, 36, 36, 37, 37, 37, 37, 37, 38, 38, 38, 38, 39, 39, 39, 39, 39, 40, 40, 40, 40
    y = 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4
#enddef
[scenario]
    id=16_Ferry_crossing
    next_scenario=17_Return
    name= _ "Ferry Crossing"
    map_data={TEG_MAP 16_Ferry_crossing.map}

    victory_when_enemies_defeated=no

    {TURNS 35 30 25}
    {DEFAULT_SCHEDULE}
    {MOOD_NORMAL}

    {TRAVELMAP_FERRY_CROSSING}

    [side]
        side=1
        controller=human
        type=Advanced Dwarvish Fighter
        id=Hamel
        name= _ "Hamel"
        canrecruit=yes
        persistent=yes
        save_id=human_player
        recruit=Battleship,Galley,Transport Ship
        team_name=dwarves
        {FLAG_VARIANT knalgan}
        {GOLD 290 270 250}
        {INCOME 3 2 1}
    [/side]
    [side]
        side=2
        controller=ai
        type=General
        id=Gweoran
        name= _ "Gweoran"
        canrecruit=yes
        recruit=Battleship,Galley,Spearman
        team_name=humans
        {GOLD 200 250 300}
        {INCOME 10 14 18}
        [ai]
            [goal]
                [criteria]
                    side=1
                [/criteria]
                value={ON_DIFFICULTY 10 20 30}
            [/goal]
            [goal]
                [criteria]
                    side=3
                [/criteria]
                value={ON_DIFFICULTY 9 6 3}
            [/goal]
            [goal]
                name=protect_unit
                [criteria]
                    id=Gweoran
                [/criteria]
                protect_radius=6
                value={ON_DIFFICULTY 11 14 17}
            [/goal]
            [goal]
                name=protect_unit
                [criteria]
                    side=2
                    canrecruit=yes
                [/criteria]
                protect_radius=5
                value={ON_DIFFICULTY 8 5 2}
            [/goal]
            aggression={ON_DIFFICULTY 0.7 0.8 0.9}
            passive_leader=yes
            passive_leader_shares_keep=yes
            grouping={ON_DIFFICULTY (no) (offensive) (defensive)}
        [/ai]
    [/side]
    {LIMIT_RECRUITS 2 Spearman 1}
    [side]
        side=3
        controller=ai
        type=Fugitive
        id=Anne Bonny
        # po: this is the name of an actual pirate; see: https://en.wikipedia.org/wiki/Anne_Bonny
        name=_"Anne Bonny"
        gender=female
        canrecruit=yes
        recruit=Pirate Ship,Footpad
        team_name=pirates
        {GOLD 100 125 150}
        [ai]
            passive_leader=yes
            [goal]
                [criteria]
                    side=2
                [/criteria]
                value={ON_DIFFICULTY 9 6 3}
            [/goal]
            [goal]
                [criteria]
                    side=4
                [/criteria]
                value={ON_DIFFICULTY 9 6 3}
            [/goal]
        [/ai]
    [/side]
    {LIMIT_RECRUITS 3 Footpad 1}
    [side]
        side=4
        controller=ai
        type=Sea Serpent
        id=Nessie
        # po: name of monster said to live in the IRL Loch Ness in Scotland:
        name=_"Nessie"
        canrecruit=yes
        recruit=Cuttle Fish,Tentacle of the Deep
#ifdef HARD
        extra_recruit=Water Serpent
#endif
        team_name=monsters
        # monsters are actually somewhat helpful to you, so split their patterns between increasing and decreasing:
        {GOLD 132 136 140}
        {INCOME 3 2 1}
        [ai]
            passive_leader=yes
            [goal]
                name=protect_unit
                [criteria]
                    id=Nessie
                [/criteria]
                protect_radius={ON_DIFFICULTY 6 4 2}
                value={ON_DIFFICULTY 9 6 3}
            [/goal]
            [goal]
                name=protect_location
                [criteria]
                    x,y=37,16
                [/criteria]
                protect_radius={ON_DIFFICULTY 6 4 2}
                value={ON_DIFFICULTY 9 6 3}
            [/goal]
        [/ai]
    [/side]
#ifdef __UNUSED__
    {LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Cuttle Fish) 3}
#endif

    [side]
        # dummy side to take over ships at victory
        side=5
        controller=null
        no_leader=yes
        team_name=dwarves
    [/side]

    {SETUP_LUA}
    {SAVEFILE_COMPATIBILITY}
    [event]
        name=prestart
        {INITIALIZE_CAMPAIGN_VARIABLES}
        {INITIALIZE_SCENARIO_VARIABLES}
        [objectives]
            side=1
            summary=_"Final Objectives:"
            [objective]
                description=_"Move all of your non-ship, on-map units onto dry land at the northeastern shore!"
                condition=win
            [/objective]
            [objective]
                description=_"Death of Hamel or of a ship that's carrying him"
                condition=lose
            [/objective]
            [objective]
                description=_"Death of Elara or of a ship that's carrying her"
                condition=lose
            [/objective]
            [objective]
                description=_"A ship carrying Hamel or Elara is captured."
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
#ifdef __UNUSED__
            # po: unused; feel free to skip translating:
            note=_"(After unloading the last unit to the northeastern shore, make a move with it to trigger the win event.)"
#endif
        [/objectives]

        {ITEM_SIGNPOST 9 23 (
            [message]
                speaker=unit
                # po: signpost message:
                message=_"Something's written here:"+_"
West: Carcyn, South: Gray Woods, East: Gryphon Mountain, North: Wesmere Forest"
            [/message]
        )}

        [store_starting_location]
            side=4
            variable=c_Start
        [/store_starting_location]
        [terrain]
            x=$c_Start.x
            y=$c_Start.y
            terrain=Khw
        [/terrain]
        {CLEAR_VARIABLE c_Start}
    [/event]

    {TEG_SHIP_PASSENGERS} # defined in utils/units.cfg; contains all of the transport loading and unloading code

    [event]
        name=start
        [recall]
            id=Elara
        [/recall]
        [message]
            id=Elara
            message=_"This is the great river - again - from your point of view..."
        [/message]
        [message]
            id=Hamel
            message=_"It is very slow, wide and deep at this point. But we can't return to Bregalad's ford; Dulatus may need our help urgently. We will need to build ships to cross over here. The way along the eastern border of Wesmere forest should be the fastest, for you magi."
        [/message]
        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message=_"You can now recruit several types of ships. You won't keep them in your recall list after this scenario, though, and they wouldn't be of much further use anyway."
        [/message]
        [message]
            id=Elara
            message=_"Watch out! It seems Asheviere's troops have already manned the northeastern shore!"
        [/message]
        [message]
            id=Gweoran
            message=_"Ah, the rebels are approaching! Block the lake, sailors!"
        [/message]
        [message]
            id=Anne Bonny
            # po: I'm not entirely sure what she means by "customers" here, whether she's referring to Gweoran and the humans,
            # po: or to Hamel and the dwarves:
            message=_"There are the new customers!"
        [/message]
        [message]
            id=Hamel
            message=_"Why does Eowariand have such scum at his borders?"
        [/message]
        [message]
            id=Elara
            message=_"Elves are not known for their sea-skills..."
        [/message]
        [message]
            id=Hamel
            # po: a bit more fourth-wall breaking here; Hamel doesn't actually know that there'll be a monster here,
            # po: he's just assuming that there will be, since this is a Wesnoth campaign:
            message=_"And where's the monster?"
        [/message]
        [scroll_to]
            x,y=37,16
        [/scroll_to]
        [sound]
            name=hiss-hit.wav
        [/sound]
        [delay]
            time=800
        [/delay]
        [message]
            id=Hamel
            message=_"..."
        [/message]
        [fire_event]
            name=menu_item_ferry_crossing_help
        [/fire_event]
        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message=_"Hint:" + _"
You should not recruit or recall too many land units since you will need to transport them all."
        [/message]
    [/event]

    [event]
        name=start
        [set_menu_item]
            id=ferry_crossing_help
            description=_"help"
        [/set_menu_item]
    [/event]

    [event]
        name=menu_item_ferry_crossing_help
        first_time_only=no
        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message=_"In this scenario, you need to put land units into transport ships since they can't move over deep water. To board a ship, right-click onto a ship, select 'accept passenger' and move any non-ship unit next to that transport ship. To unload, right-click onto a ship with a passenger and select 'unload'. Each ship can carry one unit at a time."+_"
If there is more than one possible choice for a unit to board a ship, one of the ships is arbitrarily chosen."
        [/message]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            {NORTHEASTERN_SHORE}
        [/filter]
        [if]
            [have_unit]
                side=1
                [not]
                    race=mechanical
                [/not]
                [not]
                    {NORTHEASTERN_SHORE}
                [/not]
                [or]
                    role=has_passenger
                [/or]
            [/have_unit]
            [then]
                [allow_undo]
                [/allow_undo]
                #continue with the scenario
            [/then]
            [else]
                [message]
                    speaker=unit
                    message=_"I've landed. I'm the last one."
                [/message]
                [endlevel]
                    result=victory
                    linger_mode=yes
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/else]
        [/if]
    [/event]

#define SHIP_WITH_PASSENGER_CAPTURED
    [message]
        speaker=narrator
        image=wesnoth-icon.png
        # wmllint: local spelling Crassshhhh
        # po: sound effect:
        message=_"Crassshhhh!"
    [/message]
    [message]
        speaker=unit
        message=_"Ahhh! They've broken through the door to my cabin! Help! I-"
    [/message]
    [message]
        speaker=unit
        message=_"No... nooo, don't - argh..."
    [/message]
    {CLEAR_VARIABLE unit.role}
    {VARIABLE unit.id $u_Unit.variables.s_OriginalId}
    {CLEAR_VARIABLE unit.variables.s_OriginalId}
    {CLEAR_VARIABLE unit.name}
    {CLEAR_VARIABLE unit.overlays}
    {CLEAR_VARIABLE unit.profile}
    {CLEAR_VARIABLE unit.canrecruit}
    [sound]
        name=$unit.variables.u_Passenger.die_sound
    [/sound]
    [unstore_unit]
        variable=unit
    [/unstore_unit]
#enddef
    [event]
        name=ship_captured
        first_time_only=no
        [filter]
            id=Hamel
            [or]
                id=Elara
            [/or]
        [/filter]
        {SHIP_WITH_PASSENGER_CAPTURED}
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=ship_captured
        first_time_only=no
        [filter]
            role=has_passenger
            [not]
                id=Hamel
            [/not]
            [not]
                id=Elara
            [/not]
        [/filter]
        {SHIP_WITH_PASSENGER_CAPTURED}
    [/event]
#undef SHIP_WITH_PASSENGER_CAPTURED

    [event]
        name=last breath
        [filter]
            id=Gweoran
        [/filter]
        [message]
            id=Gweoran
            message=_"Ooh... warn the queen, the rebels are getting tough..."
        [/message]
    [/event]

    {GENERAL_BONUS_VIA_GOLD (id=Anne Bonny) {ON_DIFFICULTY 50 40 30}}
    {GENERAL_BONUS_VIA_GOLD id=Nessie {ON_DIFFICULTY 40 30 20}}
    {GENERAL_BONUS_VIA_GOLD (id=Gweoran) {ON_DIFFICULTY 40 30 20}}
    [event]
        name=victory
        [disallow_recruit]
            side=1
            type=Battleship,Galley,Transport Ship
        [/disallow_recruit]
        # wmllint: recognize ferry_crossing_help
        [clear_menu_item]
            id=ferry_crossing_help
        [/clear_menu_item]
        [message]
            id=Hamel
            message=_"All right! Hide the boats somewhere here in the swamp, and let's hurry back to Kal Torlat, everyone!"
        [/message]
        {MODIFY_UNIT type,side="Battleship,Galley,Transport Ship",1 side 5}

        {CLEAR_SCENARIO_VARIABLES}
        {CLEAR_CAMPAIGN_VARIABLES}
    [/event]

    {HERO_DEATHS}
    {TIME_OVER}
[/scenario]

#undef INITIALIZE_CAMPAIGN_VARIABLES
#undef CLEAR_CAMPAIGN_VARIABLES
#undef INITIALIZE_SCENARIO_VARIABLES
#undef CLEAR_SCENARIO_VARIABLES

#undef NORTHEASTERN_SHORE
