#textdomain wesnoth-The_Earths_Gut

#define INITIALIZE_CAMPAIGN_VARIABLES
	{VARIABLE uDulatusUnits $null}
#enddef
#define CLEAR_CAMPAIGN_VARIABLES
#enddef
#define INITIALIZE_SCENARIO_VARIABLES
	{VARIABLE_DIFFICULTY_DEPENDANT nDulatusUnits 8 8 7}
	{VARIABLE cGoHere.x 23}
	{VARIABLE cGoHere.y 12}
	{VARIABLE cRider.x 18}
	{VARIABLE cRider.y 26}
#enddef
#define CLEAR_SCENARIO_VARIABLES
	{CLEAR_VARIABLE nDulatusUnits}
	{CLEAR_VARIABLE cGoHere}
	{CLEAR_VARIABLE cRider}
#enddef

[scenario]
	################################################################
	# scenario head

	id=20t_A_cry_for_help
	next_scenario=21_Wesnoth_soldiers
	name= _ "A cry for help"
	map_data={TEG_MAP main_hall.map}
	victory_when_enemies_defeated=no
	turns=-1
	{UNDERGROUND}
	{MOOD_CALM}

	[story]
		[part]
			story= _ "Back in the main hall, there was a bit of time for cleaning up and discussing the situation..."
			background=maps/wesnoth.png
		[/part]
	[/story]

	################################################################
	#sides
	[side]
		# player
		side=1
		controller=human
		type=Advanced Dwarvish Fighter
		id=Hamel
		name= _ "Hamel"
		canrecruit=yes
		persistent=yes
		save_id=human_player
		team_name=dwarves
#ifdef HARD
		recruit=Dwarvish Fighter,Dwarvish Thunderer,Dwarvish Scout,Dwarvish Guardsman,Mage
#else
		recruit=Dwarvish Fighter,Dwarvish Thunderer,Alchemist,Dwarvish Scout,Dwarvish Guardsman,Mage
#endif
		{FLAG_VARIANT knalgan}
		{GOLD 0 0 0}
		{INCOME -2 -2 -2}
		village_gold=0
		shroud=yes
	[/side]
	[side]
		side=2
		controller=null
		no_leader=yes
		team_name=dwarves
		share_view=yes
		share_maps=yes
	[/side]

	###################################################################################################################
	# prestart

	{SETUP_LUA}
	{SAVEFILE_COMPATIBILITY}

	[event]
		name=prestart
		{INITIALIZE_CAMPAIGN_VARIABLES}
		{INITIALIZE_SCENARIO_VARIABLES}
		[objectives]
			side=1
			summary=_"final objectives:"
			[objective]
				description=_"Choose $nDulatusUnits units (Dulatus and Elara included) to go on the quest for the Hammer of Thursagan.
" + _"(Move them to ($cGoHere.x, $cGoHere.y), recruit or recall them.)"
				condition=win
			[/objective]
			[gold_carryover]
				bonus=no
				carryover_percentage=100
			[/gold_carryover]
			note=_"Recalling is for free in this scenario."
		[/objectives]

		{MAIN_HALL_ITEMS}
		[capture_village]
			side=1
		[/capture_village]
		{PLACE_IMAGE items/gohere.png $cGoHere.x $cGoHere.y}

		[remove_shroud]
			side=1
			{~add-ons/The_Earths_Gut/maps/main_hall_remove_shroud.shroud}
		[/remove_shroud]

		# wmllint: recognize Dulatus
		# wmllint: recognize Aiglathing
		# wmllint: recognize Elara
		{RECALL_LOYAL_UNITS}
	[/event]

	###################################################################################################################
	# start event: dialog

	{SET_SCENARIO_STATUS_TO (
		[option]
			message=_"the necessary units being recalled."
			[command]
				[while]
					[variable]
						name=uDulatusUnits.length
						less_than=$nDulatusUnits
					[/variable]
					[do]
						[recall]
							fire_event=yes
						[/recall]
					[/do]
				[/while]
			[/command]
		[/option]
	)}
	[event]
		name=start
		[message]
			id=Hamel
			message=_"It is somehow strange that we were able to enter that prison facility without major resistance."
		[/message]
		[message]
			id=Elara
			message=_"Apparently we still kept quiet enough."
		[/message]
		[message]
			id=Dulatus
			message=_"We should probably continue with this strategy. Now - we had agreed that we need to find out the fate of the Hammer of Thursagan. If our enemies possess this artifact, it might indeed grant them unimaginable powers. If we could retrieve it, it would seriously weaken them."
		[/message]
		[message]
			id=Dulatus
			message=_"From all what we know of the old lore, inscriptions and tales, the last known place the Hammer did go to have been the caverns of flame. It is said that the greatest of all runesmiths, Thursagan, died there alongside his tribe, and the hammer-"
		[/message]

		[sound]
			name=horse-elf-canter.wav
		[/sound]
		[unit]
			type=Elvish Rider
			id=20t_Elvish_messenger
			side=2
			x=$cRider.x
			y=$cRider.y
		[/unit]
		[store_unit]
			[filter]
				id=Hamel
			[/filter]
			variable=cTo
		[/store_unit]
		[move_unit]
			id=20t_Elvish_messenger
			to_x=$cTo.x
			to_y=$cTo.y
		[/move_unit]
		{CLEAR_VARIABLE cTo}
		[sound]
			name={SOUND_LIST:HORSE_HIT}
		[/sound]

		[message]
			id=20t_Elvish_messenger
			message=_"(gasp) Greetings, dwarvish masters of Kal Torlat (gasp)."
		[/message]
		[message]
			id=Hamel
			message=_"Welcome, rider. Speak."
		[/message]
		[message]
			id=20t_Elvish_messenger
			message=_"My steed had a hard time on this cave floor...Anyway, I have an urgent message by Eowariand for you. The humans have come, they finally launch their attack on us. They demand that we surrender to Asheviere or we will all be wiped out."
		[/message]
		[message]
			id=20t_Elvish_messenger
			message=_"In addition they seem to believe that we are hiding and protecting some human prince, a leader of the resistance, among us, whom they demand to be delivered to them. Of course we would never agree with that even if their suspicion was true. The woses are willing to fight with us, but only if you, Hamel, take command. They must have been deeply impressed by you."
		[/message]
		[message]
			id=20t_Elvish_messenger
			message=_"The humans have come with a large army and many veterans so we would greatly appreciate anything you could do for us."
		[/message]
		[message]
			id=Hamel
			message=_"..."
		[/message]
		[message]
			id=Dulatus
			message=_"(quiet) The elves are our barrier against enemies from outside, you know..."
		[/message]
		[message]
			id=Aiglathing
			message=_"But wasn't it agreed that it is urgent to shed light on the hammer's fate ?"
		[/message]
		[message]
			id=Elara
			message=_"What about sending a small, inconspicuous team after the hammer - in the prison we were successful that way. The rest of us fights Asheviere's minions. Personally, I'm more interested in the hammer, and my spell attacks are not that useful against human soldiers."
		[/message]
		[message]
			id=Hamel
			message=_"It is fine. Dulatus, you take command of the expedition, since you know most about the possible fate of the hammer. You and Elara choose further followers to come with you until you are $nDulatusUnits at all. Good luck. All others - into the battle!"
		[/message]
		[message]
			id=20t_Elvish_messenger
			message=_"I continue to be impressed by your loyalty. I'll quickly deliver the good news to my people."
		[/message]

		[sound]
			name=horse-elf-canter.wav
		[/sound]
		[move_unit]
			id=20t_Elvish_messenger
			to_x=$cRider.x
			to_y=$cRider.y
		[/move_unit]

		[message]
			id=Dulatus
			message=_"Let them feel the harsh cold of our new better axes."
		[/message]

		[move_unit]
			id=Dulatus,Elara
			to_x=$cGoHere.x
			to_y=$cGoHere.y
			fire_event=yes
		[/move_unit]

		[message]
			speaker=narrator
			image=wesnoth-icon.png
			message=_"The following battle scenario will be the last surface scenario, while Dulatus' mission will be in the underground."
		[/message]
	[/event]

	###################################################################################################################
	# moving, recalling, recruiting units algorithm
	[event]
		name=recall
		first_time_only=no
		[lua]
			code=<< wesnoth.sides[1].gold = wesnoth.sides[1].gold + wesnoth.game_config.recall_cost >>
		[/lua]
		[fire_event]
			name=move_away
			[primary_unit]
				id=$unit.id
			[/primary_unit]
		[/fire_event]
	[/event]
	[event]
		name=recruit
		first_time_only=no
		[fire_event]
			name=move_away
			[primary_unit]
				id=$unit.id
			[/primary_unit]
		[/fire_event]
	[/event]
	[event]
		name=move_away
		first_time_only=no
		[move_unit]
			id=$unit.id
			to_x=$cGoHere.x
			to_y=$cGoHere.y
			fire_event=yes
		[/move_unit]
	[/event]
	[event]
		name=moveto
		first_time_only=no
		[filter]
			x=$cGoHere.x
			y=$cGoHere.y
		[/filter]
		[store_unit]
			variable=uDulatusUnits
			[filter]
				id=$unit.id
			[/filter]
			mode=append
			kill=yes
		[/store_unit]
		[fire_event]
			name=victory_check
		[/fire_event]
	[/event]
	[event]
		name=victory_check
		[filter_condition]
			[variable]
				name=uDulatusUnits.length
				numerical_equals=$nDulatusUnits
			[/variable]
		[/filter_condition]

		[message]
			id=Hamel
			message=_"That's it. Move on."
		[/message]
		[endlevel]
			result=victory
			bonus=no
			{NEW_GOLD_CARRYOVER 100}
		[/endlevel]
	[/event]

	###################################################################################################################

	[event]
		name=victory
		{CLEAR_SCENARIO_VARIABLES}
		{CLEAR_CAMPAIGN_VARIABLES}
	[/event]
[/scenario]

#undef INITIALIZE_CAMPAIGN_VARIABLES
#undef CLEAR_CAMPAIGN_VARIABLES
#undef INITIALIZE_SCENARIO_VARIABLES
#undef CLEAR_SCENARIO_VARIABLES
