#textdomain wesnoth-The_Earths_Gut

[unit_type]
    id=Potion Smith
    name= _ "Potion Smith"
    race=dwarf
    image=units/dwarves/potion_smith/Potion-Smith.png
    profile=portraits/Alchemist.png~SCALE(250,250)

    hitpoints=40
    movement_type=dwarvishfoot
    [resistance]
        blade=80
        pierce=80
        impact=80
    [/resistance]
    movement=4
    level=2
    alignment=neutral
    cost=40
    usage=healer
    experience=100
    advances_to=Master of Alchemy

    description= _ "The first 'Potion Smiths' were mockingly named by rival Runesmiths who believed that devoting one's time to the study of mixing potions and leaves was a worthless endeavor. As time passed the name remained, and is now given as a title of honor to Alchemists who have advanced their skills sufficiently to earn them renown on the battlefield. Defeating the effects of poison is the accomplishment of any Alchemist who becomes a Potion Smith, and their skills make them in high demand."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_UNPOISON}
    [abilities]
        {ABILITY_HEALS}
        {ABILITY_UNPOISON}
    [/abilities]
    die_sound={SOUND_LIST:DWARF_DIE}

    [healing_anim]
        [frame]
            begin=-150
            end=150
            image="units/dwarves/potion_smith/Potion-Smith-heal.png"
        [/frame]
    [/healing_anim]

    [attack]
        name=morningstar
        description= _"morningstar"
        icon=attacks/mace-and-chain.png
        type=impact
        range=melee
        damage=4
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=morningstar
        [/filter_attack]
        [frame]
            begin=-250
            end=-225
            image=units/dwarves/potion_smith/Potion-Smith-attack1.png
        [/frame]
        [frame]
            begin=-225
            end=-200
            image=units/dwarves/potion_smith/Potion-Smith-attack2.png
        [/frame]
        [frame]
            begin=-200
            end=-175
            image=units/dwarves/potion_smith/Potion-Smith-attack3.png
        [/frame]
        [frame]
            begin=-175
            end=-150
            image=units/dwarves/potion_smith/Potion-Smith-attack4.png
        [/frame]
        [frame]
            begin=-150
            end=-100
            image=units/dwarves/potion_smith/Potion-Smith-attack5.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves/potion_smith/Potion-Smith-attack6.png
                sound=flail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves/potion_smith/Potion-Smith-attack6.png
                sound=flail-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=175
            image=units/dwarves/potion_smith/Potion-Smith-attack7.png
        [/frame]
        [frame]
            begin=175
            end=225
            image=units/dwarves/potion_smith/Potion-Smith-attack8.png
        [/frame]
        [frame]
            begin=225
            end=300
            image=units/dwarves/potion_smith/Potion-Smith-attack9.png
        [/frame]
        # The file units/dwarves/potion_smith/Potion-Smith-attack10.png does not exist, even in THoT
        # TODO: adjust path we're checking:
#ifhave units/dwarves/potion_smith/Potion-Smith-attack10.png
        [frame]
            begin=300
            end=375
            image=units/dwarves/potion_smith/Potion-Smith-attack10.png
        [/frame]
#endif
    [/attack_anim]

    [attack]
        name=bolas
        description= _"bolas"
        type=impact
        range=ranged
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/bolas.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image=projectiles/bolas-n.png
            image_diagonal=projectiles/bolas-ne.png
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image=units/dwarves/potion_smith/Potion-Smith-ranged1.png
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image=units/dwarves/potion_smith/Potion-Smith-ranged1.png
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image=units/dwarves/potion_smith/Potion-Smith-ranged2.png
        [/frame]
    [/attack_anim]

    [defend]
        [frame]
            begin=-126
            end=-125
            image="units/dwarves/potion_smith/Potion-Smith.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/dwarves/potion_smith/Potion-Smith-defend1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-42
                end=41
                image="units/dwarves/potion_smith/Potion-Smith-defend2.png"
                sound={SOUND_LIST:DWARF_HIT}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-42
                end=41
                image="units/dwarves/potion_smith/Potion-Smith-defend2.png"
            [/frame]
        [/else]
        [frame]
            begin=41
            end=125
            image="units/dwarves/potion_smith/Potion-Smith-defend3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/dwarves/potion_smith/Potion-Smith.png"
        [/frame]
    [/defend]
[/unit_type]
