#textdomain wesnoth-The_Earths_Gut
# (originally from Flight to Freedom)

[unit_type]
    id=Cave Drake
    name= _ "Cave Drake"
    race=drake
    image=units/drakes/drake-cave.png
    hitpoints=31
    movement_type=drakefly
    [movement_costs]
        cave=1
    [/movement_costs]
    movement=6
    experience=50 #30 to advance if level 2 added
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=16
    usage=scout
    description= _ "Those drakes that are born and raised in caves often suffer from stunted growth and other deformities, as their internal fire never burns quite as intensely as the fires of surface-dwellers. Although these drakes are frail and weak aboveground (by drake standards), their small size makes them perfectly suited for scouting caves ahead of the warriors of a tribe."
    {DEFENSE_ANIM "units/drakes/drake-cave-defend.png" "units/drakes/drake-cave.png" {SOUND_LIST:DRAKE_HIT} }
    [defense]
        cave=60
    [/defense]
    die_sound=drake-die.ogg

    [attack]
        name=bite
        description=_"bite"
        type=blade #impact
        range=melee
        damage=5
        number=3
        icon=attacks/drake-bite.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        hits=no
        [frame]
            begin=-200
            end=-150
            image="units/drakes/drake-cave.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            image="units/drakes/drake-cave-attack.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/drakes/drake-cave.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        hits=yes
        [frame]
            begin=-200
            end=-150
            image="units/drakes/drake-cave.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            image="units/drakes/drake-cave-attack.png"
            sound=bite-small.ogg
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/drakes/drake-cave.png"
        [/frame]
    [/attack_anim]
[/unit_type]
