#textdomain wesnoth-The_Earths_Gut

[unit_type]
    id=Battleship
    name= _ "Battleship"
    race=mechanical
    image="units/transport/galleon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=70
    movement_type=float
    movement=6
    experience=25
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=archer
    description=_"Battleships are the masters in naval fighting. Their cannon balls do heavy ranged damage and they have a melee attack for defending."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound="wose-die.ogg"

    [resistance]
        blade=80
        pierce=120
        impact=100
        fire=120
    [/resistance]
    [defense]
#ifdef __UNUSED__
        deep_water=50
        shallow_water=60
#endif
        reef=70
#ifdef __UNUSED__
        swamp_water=60
        flat=-20
        sand=10
        forest=-10
        hills=-10
        mountains=-10
#endif
        castle=70
#ifdef __UNUSED__
        cave=-20
        frozen=10
        unwalkable=10
        impassable=10
        fungus=-20
#endif
    [/defense]

    [attack]
        name=fighting crew
        description=_"fighting crew"
        icon="attacks/sword-human-short.png"
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=cannon ball
        description=_"cannon ball"
        icon="attacks/rock_thrown.png"
        type=impact
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    {TEG_DEFENSE_ANIMATION_SHIPS "units/transport/galleon.png"}
    {TEG_ATTACK_ANIMATION_FIGHTING_CREW "units/transport/galleon.png"}
    {TEG_ATTACK_ANIMATION_CANNON "units/transport/galleon.png"}
    {TEG_DEATH_ANIMATION_SHIP "scenery/wreck.png"}
[/unit_type]
