#textdomain wesnoth-The_Earths_Gut

# Music macros that group music into playlists by mood, as well as macros that
# cue sound for an event. Use MOODs inside a scenario (and/or prestart event) or
# within an event. Use CUEs in the same way, but music will go back to previous
# MOOD after the CUE song, and the music gets switched immediately. Use MOOD
# and CUE together to switch immediately and then remain in the new mood.

# Songs used (keep this part alphabetized):
#       battle
#       battle-epic
#       breaking_the_chains
#       casualties_of_war
#       defeat2
#       elf-land
#       elvish-theme
#       frantic
#       frantic-old
#       heroes_rite
#       into_the_shadows
#       journeys_end
#       knalgan_theme
#       knolls
#       legends_of_the_north
#       loyalists
#       northern_mountains
#       northerners
#       nunc_dimittis
#       revelation
#       sad
#       siege_of_laurelmor
#       silence
#       silvan_sanctuary
#       suspense
#       the_city_falls
#       the_dangerous_symphony
#       the_deep_path
#       the_king_is_dead
#       transience
#       traveling_minstrels
#       tribal_war_song
#       underground
#       wanderer

# Songs not used (ok to stop alphabetizing now):
#       love_theme (reserved)
#       main_menu
#       victory
#       victory2
#       defeat
#       vengeful (too much dynamics compression and thus too loud)
#       return_to_wesnoth
#       blank (UMCB02)
#       ambient_loop_[2~8] (UMCB02)
#       wesnoth-[6~8] (UMCB02)
#       Final (UMCB03)
#       homeward_bound (UMCB03)

#define TEG_MUSIC_FIRST SONG
    [music]
        name={SONG}.ogg
        append=no
        ms_before=8000
    [/music]
#enddef
#define TEG_MUSIC SONG
    [music]
        name={SONG}.ogg
        append=yes
        ms_before=8000
    [/music]
#enddef
#define TEG_UMC_MUSIC SONG
#ifhave ~add-ons/UMC_Music_Book_01/_main.cfg
    [music]
        name={SONG}.ogg
        append=yes
        ms_before=8000
    [/music]
#endif
#enddef
#define TEG_UMC2_MUSIC SONG
#ifhave ~add-ons/UMC_Music_Book_02/_main.cfg
    [music]
        name={SONG}.ogg
        append=yes
        ms_before=8000
    [/music]
#endif
#enddef
#define TEG_UMC3_MUSIC SONG
#ifhave ~add-ons/UMC_Music_Book_03/_main.cfg
    [music]
        name={SONG}.ogg
        append=yes
        ms_before=8000
    [/music]
#endif
#enddef
#define MOOD_BATTLE
    {TEG_MUSIC_FIRST legends_of_the_north}
    {TEG_MUSIC battle}
    {TEG_MUSIC frantic}
    {TEG_MUSIC the_dangerous_symphony}
    {TEG_MUSIC northerners}
    {TEG_MUSIC northern_mountains}
    {TEG_MUSIC casualties_of_war}
    {TEG_UMC_MUSIC battlecry}
    {TEG_UMC_MUSIC a3deap_DontFearTheReaper}
    {TEG_UMC2_MUSIC Triumph}
    {TEG_UMC3_MUSIC New_Wesnoth_Battle_Music}
    {TEG_UMC3_MUSIC One_Thousand_Suns}
#enddef
#define MOOD_EPIC
    {TEG_MUSIC_FIRST the_city_falls}
    {TEG_MUSIC siege_of_laurelmor}
    {TEG_MUSIC heroes_rite}
    {TEG_MUSIC the_king_is_dead}
    {TEG_MUSIC journeys_end}
    {TEG_MUSIC weight_of_revenge}
    {TEG_UMC_MUSIC tribal_war_song}
    {TEG_UMC3_MUSIC In_the_Land_of_Madness}
    {TEG_UMC3_MUSIC One_Thousand_Suns}
    {TEG_UMC3_MUSIC The_Gathering_Storm}
#enddef
#define MOOD_CALM
    {TEG_MUSIC_FIRST elf-land}
    {TEG_MUSIC wanderer}
    {TEG_MUSIC silvan_sanctuary}
    {TEG_MUSIC into_the_shadows}
    {TEG_UMC_MUSIC snowfall}
    {TEG_MUSIC zhaytee-tragedy}
    {TEG_UMC_MUSIC calm-before-storm}
    {TEG_UMC2_MUSIC City_of_Dwarves}
    {TEG_UMC2_MUSIC alternative}
    {TEG_UMC2_MUSIC ElvenDance}
    {TEG_UMC2_MUSIC Through_the_Woodlands}
    {TEG_UMC2_MUSIC wesnoth_final_draft}
    {TEG_UMC3_MUSIC Upon_Green_Hills}
#enddef
#define MOOD_UNDERGROUND
    {TEG_MUSIC_FIRST underground}
    {TEG_MUSIC the_deep_path}
    {TEG_MUSIC revelation}
    {TEG_MUSIC suspense}
    {TEG_MUSIC knalgan_theme}
    {TEG_MUSIC frantic-old}
    {TEG_UMC_MUSIC gameplay06}
    {TEG_UMC2_MUSIC City_of_Dwarves}
    {TEG_UMC2_MUSIC northerners-old}
    {TEG_UMC2_MUSIC wesnoth-3}
#enddef
#define MOOD_SAD
    {TEG_MUSIC_FIRST sad}
    {TEG_MUSIC transience}
    {TEG_MUSIC elvish-theme}
    {TEG_MUSIC love_theme}
    {TEG_UMC2_MUSIC Through_the_Woodlands}
#enddef
#define MOOD_NORMAL
    {TEG_MUSIC_FIRST breaking_the_chains}
    {TEG_MUSIC knolls}
    {TEG_MUSIC loyalists}
    {TEG_MUSIC nunc_dimittis}
    {TEG_MUSIC traveling_minstrels}
    {TEG_MUSIC battle-epic}
    {TEG_UMC_MUSIC a3deap_HoistTheColours}
    {TEG_UMC_MUSIC a3deap_HighInTheMountains}
    {TEG_UMC_MUSIC a3deap_GoForTheWorldAgain}
    {TEG_UMC2_MUSIC City_of_Dwarves}
    {TEG_UMC2_MUSIC ElvenDance}
    {TEG_UMC2_MUSIC Triumph}
    {TEG_UMC3_MUSIC A_Call_To_Arms}
    {TEG_UMC3_MUSIC A_Silver_Wind}
    {TEG_UMC3_MUSIC the_high_kings_march}
#enddef
#define MOOD_CREEPY
    {TEG_MUSIC into_the_shadows}
    {TEG_MUSIC suspense}
    {TEG_UMC2_MUSIC ambient_loop_1}
    {TEG_UMC2_MUSIC wesnoth-4}
    {TEG_UMC3_MUSIC Skeleton_Dance}
#enddef
#######################################
#define CUE SONGS
    {RANDOM ({SONGS})}
    [music]
        name=$random|.ogg
        play_once=yes
        immediate=yes
    [/music]
    {CLEAR_VARIABLE random}
#enddef
#define CUE_UNDERGROUND
    {CUE underground,the_deep_path,revelation,knalgan_theme}
#enddef
#define CUE_DOOM
    {CUE defeat2}
#enddef
#define CUE_BATTLE
    {CUE legends_of_the_north,battle,frantic,the_dangerous_symphony,casualties_of_war}
#enddef
#define CUE_SAD
    {CUE transience,sad}
#enddef
#define CUE_ELVES
#ifhave ~add-ons/UMC_Music_Book_02/_main.cfg
    {CUE elvish-theme,elf-land,ElvenDance}
#else
    {CUE elvish-theme,elf-land}
#endif
#enddef
